/* PROJECT */

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
}

.project__header {
  font-size: 3.2rem;
  text-align: center;
  margin-top: 2.5rem;
}

.project__under {
  width: 80%;
  text-align: center;
}

.project__content {
  padding: 2.5rem 0;
}

.project__content,
.app__header {
  display: flex;
}

.app__layout {
  margin-right: 4rem;
}

.app__link--demo {
  position: relative;
}

.app__demo {
  position: absolute;
  bottom: 50%;
  left: 34%;
  transform: translate(-50%, 0);
  text-align: center;
  color: #f5f5f5;
  font-size: 2rem;
  opacity: 0;
  transition: all 0.8s;
  text-shadow: 2px 2px 2px #000000;
  backface-visibility: hidden;
}

.app__layout:hover > a > .app__demo{
  opacity: 1;
  transform: translate(-50%, -290%);
}

.project__img {
  height: 220px;
  width: 240px;
  transform: translateX(-4rem) scale(1);
  backface-visibility: hidden;
  transition: all 1s;
}

.app__layout:hover > a > .project__img{
  opacity: 0.5;
  transform: translateX(-4rem) scale(0.9);
  filter: blur(3px) brightness(55%);
}

.app__info {
  margin-right: auto;
  font-size: 2rem;
}

.app__info--date {
  font-size: 1.4rem;
}

.app__detail {
  font-size: 1.43rem;
  width: 35rem;
  margin-top: 2rem;
}

.app__link {
  text-decoration: none;
  color: #000000;
}

.app__link:hover {
  color: #2b6d94;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 46.8em) {
  .app__detail {
    width: 30rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .project__content {
    flex-direction: column;
    align-items: center;
  }

  .app__header {
    flex-direction: column;
    text-align: center;
  }

  .app__layout {
    margin: 0;
  }

  .app__info {
    margin-right: 0;
    font-size: 2rem;
  }

  .app__detail {
    text-align: center;
    width: 20rem;
  }

  .app__link {
    color: #2b6d94;
  }

  .project__img {
    transform: translate(0);
  }

  .app__layout:hover > a > .project__img{
    opacity: 1;
    transform: translateX(0);
    filter: blur(0) brightness(100%);
  }

  .app__layout:hover > a > .app__demo{
    opacity: 0;
    transform: translate(0);
  }

}


