/* Project */
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
}
.project__header {
  font-size: 3.2rem;
  text-align: center;
  margin-top: 2.5rem;
}

.project__under {
  width: 80%;
  text-align: center;
}

.project__content {
  padding: 2.5rem 0;
}

.project__content,
.app__header {
  display: flex;
}

.app__layout {
  margin-right: 4rem;
}

.app__info {
  margin-right: auto;
  font-size: 2rem;
}

.app__info--date {
  font-size: 1.4rem;
}
.app__detail {
  font-size: 1.43rem;
  width: 35rem;
  margin-top: 2rem;
}

.app__link {
  text-decoration: none;
  color: #000000;
}

.app__link:hover {
  color: #2b6d94;
}

@media only screen and (max-width: 46.8em) {
  .app__detail {
    width: 30rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .project__content {
    flex-direction: column;
    align-items: center;
  }

  .app__header {
    flex-direction: column;
    text-align: center;
  }

  .app__layout {
    margin: 0 0;
  }

  .app__info {
    margin-right: 0;
    font-size: 2rem;
  }

  .app__detail {
    text-align: center;
    width: 20rem;
  }

  .app__link {
    color: #2b6d94;
  }
}
